[Desktop Entry]
Encoding=UTF-8
Name=Icewm-Conf
Name[pl]=Icewm-Conf
Comment=Simple graphical configuration for Icewm
Comment[pl]=Prosty graficzny konfigurator dla icewm
Icon=
Exec=icewmconf
Terminal=false
Type=Application
Categories=Settings;
# vi: encoding=utf-8
